/* ==========================================================
                    CSS RESET
========================================================== */

/* Remove default spacing */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



/* Smooth scrolling */

html{
    scroll-behavior:smooth;
}



/* Body */

body{

    font-family:var(--font-family);

    background-color:var(--background-color);

    color:var(--primary-text);

    line-height:1.7;

    transition:var(--transition);

}



/* Images */

img{

    display:block;

    max-width:100%;

    height:auto;

}



/* Links */

a{

    text-decoration:none;

    color:inherit;

}



/* Lists */

ul,
ol{

    list-style:none;

}



/* Buttons */

button{

    border:none;

    outline:none;

    cursor:pointer;

    font:inherit;

}



/* Inputs */

input,
textarea,
select{

    font:inherit;

}



/* Headings */

h1,
h2,
h3,
h4,
h5,
h6{

    font-weight:600;

    line-height:1.2;

}



/* Paragraph */

p{

    color:var(--secondary-text);

}



/* Section */

section{

    padding:var(--space-xxl) 0;

}



/* Main Container */

.container{

    width:min(90%, var(--container-width));

    margin:auto;

}